<%- include ('../partial/admin-header')-%>
<style>
    body{
        overflow-x: hidden;
    }
    .side-area{
        height: 100%;
        background-color: transparent;
    }
    .main-area{
        height: 100vh;
        margin-top: 20vh;
        background-color: transparent;
    }
    .admin-dashboard .dashboard{
        color: #505050 !important;
    }
    .side1{
      width: 320px !important;
      background-color: rgba(170, 170, 170, 0.52);
      border-radius: 12px;
      margin-top: 10vh;
    }
    .admin-name{
        margin-left: 135vh;
    }
    .search{
        width: 130vh;
        margin-left: 15vh;
        border-radius: 10px;
    }
    .products-1{
        color: #000000 !important;
    }
    .dashboard{
        color: #505050 !important;
    }
    .dashboard:hover{
        color: #000000 !important;
    }
</style>
<section>
    <div class="row">
        <div class="col-md-3">
            <div class="container side-area">
                <div class="container-fluid side1">
                    <div class="side-bar">
                      <div  class="container-7">
                          <div>
                              <img style="margin: 50px;" src="/images/SnapCart.png" alt="">
                          </div>
                        <div class="dashboard-1">
                          <div class="dashboard-11"></div>
                          <a href="/admin/dashboard" class="dashboard btn"><img style="width: 35px; margin-right: 15px;" src="/images/icons/dashboard.png" alt="">Dashboard </a>
                        </div>
                        
                        <div class="users">
                          <div class="user"></div>
                          <a href="/admin/users" class="users-1 btn"><img style="width: 35px; margin-right: 15px;" src="/images/icons/user.png" alt=""> Users </a>
                        </div>
                        <div class="products">
                          <div class="order"></div>
                          <a href="#" class="products-1 btn "><img style="width: 35px; margin-right: 15px;" src="/images/icons/order (1).png" alt=""> Products </a>
                        </div>
                        <div class="offers">
                          <div class="order"></div>
                          <a href="#" class="offers-1 btn "><img style="width: 35px; margin-right: 15px;" src="/images/icons/discount.png" alt=""> Offers </a>
                        </div>
                        <div class="orders">
                          <div class="shopping-cart"></div>
                          <a href="#" class="orders-1 btn"><img style="width: 35px; margin-right: 15px;" src="/images/icons/shopping-cart.png" alt="">Orders </a>
                        </div>
                        <div class="categories">
                          <div class="categories-2"></div>
                          <a href="/admin/category" class="categories-1 btn"><img style="width: 35px; margin-right: 15px;" src="/images/icons/categories.png" alt=""> Categories </a>
                        </div>
                        <div class="brands">
                          <div class="brand-1"></div>
                          <a href="/admin/brand" class="brands-1 btn"><img style="width: 35px; margin-right: 15px;" src="/images/icons/brand.png" alt=""> Brands </a>
                        </div>
                        <div class="coupon">
                          <div class="coupon-1"></div>
                          <a  href="#" class="coupon-1 btn"><img style="width: 35px; margin-right: 15px;" src="/images/icons/coupon (1).png" alt="">Coupon</a>
                        </div>
                        <div class="payment">
                          <div class="income-1"></div>
                          <a  href="#" class="payment-1 btn"><img style="width: 35px; margin-right: 15px;" src="/images/icons/income (1).png" alt=""> Payment </a>
                        </div>
                        <div class="payment-2">
                          <div class="logout-1"></div>
                          <a  href="/admin/logout" class="logout btn"><img style="width: 35px; margin-right: 15px;" src="/images/icons/logout.png" alt=""> Logout </a>
                        </div>
                      </div>
                      <div class="icon">
                        <div class="snap-cart-3"></div>
                        <div class="line-21"></div>
                      </div>
                    </div>
                  </div>

            </div>
        </div>
        <div class="col-md-9">
            <div class="container-fluid main-area">
                <div class="group-1000005981 admin-name">
                    <div class="shibili">
                     <img style="width: 35px; margin-right: 15px; margin-bottom: 15px;" src="/images/icons/user (2).png" alt="">Shibili
                    </div>
                  </div>
                  <div class="">
                    <form class="  " style="width:350px;">
                    <input class="form-control search" type="search"    placeholder= "Search..." aria-label="Search">
                    </form>
                </div> 
                  <table class="table table-striped table-hover mt-5">
                <thead>
                    <tr>
                      <th scope="col">Sl</th>
                      <th scope="col">image</th>
                      <th scope="col">product_Name</th>
                      <th scope="col">Category</th>
                      <th scope="col">Brand</th>
                      <th scope="col">Stock</th>
                      <th scope="col">Price</th>
                      <th scope="col">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">1</th>
                      <td><img src="/images/women-02.jpg" style="width: 45px; height: 45px;" class="img-fluid" alt=""></td>
                      <td>Top</td>
                      <td>Party wear</td>
                      <td>Allensolly</td>
                      <td> 7 in stock </td>
                      <td> $34 </td>
                      <td><button type="button" class="btn btn-danger"><i class="bi bi-trash"></i></button></td>
                    </tr>
                    <tr>
                      <th scope="row">2</th>
                      <td>Top</td>
                      <td><img src="/images/women-02.jpg" style="width: 45px; height: 45px;" class="img-fluid" alt=""></td>
                      <td>Party wear</td>
                      <td>Allensolly</td>
                      <td> 7 in stock </td>
                      <td> $34 </td>
                      <td><button type="button" class="btn btn-danger"><i class="bi bi-trash"></i></button></td>
                    </tr>
                  </tbody>
              </table>
              <div>
                <a  href="/admin/add_products" type="button" class="btn btn-outline-dark"><i class="bi bi-plus-square"></i> Add Product</a>
              </div>
        </div>
        </div>



    
    
    
    
    </div> 
</section>








<%- include ('../partial/admin-footer')-%>