<%- include ("../partial/header" )-%>

<!-- ***** Header Area Start ***** -->
<header class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <a href="/user/home" class="logo">
                        <img src="/images/SnapCart.png">
                    </a>
                    <!-- ***** Logo End ***** -->
                    <!-- ***** Menu Start ***** -->
                    <ul class="nav">
                        
                        <li class="scroll-to-section"><a href="/user/home" >Home</a></li>
                        <li class="scroll-to-section"><a href="/user/home">Men's</a></li>
                        <li class="scroll-to-section"><a href="/user/home">Women's</a></li>
                        <li class="scroll-to-section"><a href="/user/home">Kid's</a></li>
                        <li class="scroll-to-section"><a href="/user/products">Products</a></li>
                        <li class="scroll-to-section">
                            <a href="/cart" class="d-flex align-items-center">
                                <i class="bi bi-cart"></i>
                                <!-- Badge for Cart Count next to the cart icon -->
                                <span class="badge badge-pill badge-secondary" style=" width: 25px; height: 25px; border-radius: 50%; display: flex; align-items: center; justify-content: center;">
                                    <%=cartCount%>
                                </span>
                            </a>
                        </li>
                        <li class="scroll-to-section"><a href="/wishlist"><i class="bi bi-heart"></i></a></li>
                        <li class="submenu">
                            <a href="javascript:;"><i class="bi bi-person-circle"></i></a>
                            <ul>
                                <li><a href="/user/profile">My Account</a></li>
                                <li><a href="/order/order_history">My Orders</a></li>
                                <li><a href="/wallet">My Wallet</a></li>
                                <li><a>About Us</a></li>
                                <li><a href="/user/contact">Contact Us</a></li>
                                <li><a href="/user/logout">Logout</a></li>
                                
                            </ul>
                        </li>
                      
                    </ul>        
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>
                    
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- ***** Header Area End ***** -->

 <!-- ***** Main Banner Area Start ***** -->
 <div class="page-heading about-page-heading" id="top">
    <div class="container">
        <div class="row ">
            <div class="col-lg-12">
                <div class="inner-content">
                    <h2>About Our Company</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ***** Main Banner Area End ***** -->
 <!-- ***** About Area Starts ***** -->
 <div class="about-us">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="left-image">
                    <img src="/images/about-left-image.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="right-content">
                    <h4>About Us</h4>
                     
                    <p>Founded in 2015, ShopEase has become South Asia's leading online shopping platform, establishing a strong presence in India. Backed by a comprehensive suite of customized marketing, data analytics, and service solutions, ShopEase collaborates with over 12,000 sellers and 350 brands, reaching out to 3.5 million customers across the region. With a rapidly expanding inventory of over 1.2 million products, ShopEase offers an extensive selection across various categories, catering to a wide range of consumer needs.</p>
                    <ul>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ***** About Area Ends ***** -->
<section class="section" id="end">
    <div class="container my-5">
        <div class="row row-cols-1 row-cols-md-3 g-4 text-center">
            <div class="col">
                <div class="feature-card p-3">
                    <img src="/images/delivary.png" alt="Free and Fast Delivery">
                    <h5>FREE AND FAST DELIVERY</h5>
                    <p>Free delivery for all orders over $140</p>
                </div>
            </div>
            <div class="col">
                <div class="feature-card p-3">
                    <img src="/images/24by7.png" alt="24/7 Customer Service">
                    <h5>24/7 CUSTOMER SERVICE</h5>
                    <p>Friendly 24/7 customer support</p>
                </div>
            </div>
            <div class="col">
                <div class="feature-card p-3">
                    <img src="/images/Services.png" alt="Money Back Guarantee">
                    <h5>MONEY BACK GUARANTEE</h5>
                    <p>We return money within 30 days</p>
                </div>
            </div>
        </div>
    </div>
    

</section>

 <!-- ***** Footer Start ***** -->
 <footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="first-item">
                    <div class="logo">
                        <img src="/images/SnapCart.png" alt="hexashop ecommerce templatemo">
                    </div>
                    <ul>
                        
                        <li><a href="#">SnapCart@company.com</a></li>
                        <li><a href="#">+91 9048763044</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3">
                <h4>Shopping &amp; Categories</h4>
                <ul>
                    <li><a href="#">Men’s Shopping</a></li>
                    <li><a href="#">Women’s Shopping</a></li>
                    <li><a href="#">Kid's Shopping</a></li>
                </ul>
            </div>
            <div class="col-lg-3">
                <h4>Useful Links</h4>
                <ul>
                    <li><a href="#">Homepage</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Help</a></li>
                    <li><a href="#">Contact Us</a></li>
                </ul>
            </div>
            <div class="col-lg-3">
                <h4>Help &amp; Information</h4>
                <ul>
                    <li><a href="#">Help</a></li>
                    <li><a href="#">FAQ's</a></li>
                    <li><a href="#">Shipping</a></li>
                    <li><a href="#">Tracking ID</a></li>
                </ul>
            </div>

        </div>
    </div>
</footer>



<%- include ("../partial/footer")-%>