<%- include ("../partial/header" )-%>


<div class="login_align">


<div class="login-container">
   
    <div class="login-form mt-5">
        <h2 class="text-center">Enter New Password</h2>
        
        <form class="mt-3" action="/user/passwordChange" method="post">
            <div class="input-group">
                <input type="text" id="password" name="password" class="form-email" placeholder="password"  required pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}" 
                title="Password must be at least 8 characters long 
                 include at least one uppercase letter,
                 one lowercase letter, one number, and 
                 one special character.">
            </div>
            <div class="input-group">
                <input type="text" id="password" name="confromPassword" class="form-email" placeholder="conform password"  required>
                <p class="text-danger" style="margin-left: 19vh; font-size: medium;"> <%= locals.noMatch ? noMatch : null  %></p>
            </div>
            
           
            <div class="submit d-flex jusfity-content-end">
               
                    <button type="submit" value="submit" class="btn btn-dark px-4 py-2 mt-2" style="font-size: 0.9rem; margin-left: 94vh;">Submit</button>  
                    
                </div>
           
           
        </form>
    </div>
</div>
</div>








<%- include ("../partial/footer" )-%>